/*Nav Bar Styling*/

.nav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: white;
    opacity: .8;
    border-bottom: 1px solid grey;
    z-index: 1;
    font-family: 'Voltaire', sans-serif;
}

.nav ul a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: black;
    list-style-type: none;
    padding: 0 10px;
    font-size: 1.75rem;
    font-family: 'Voltaire', sans-serif;
    float: right;
    margin-top: 10px;
}

.nav ul a:hover {
    text-decoration: underline;
}

#active {
    color: aqua;
    opacity: .7;
}

html, body {
    background: url("cover-image.jpg") fixed center center;
    background-size: cover;
    color: white;
    height: 100%;
}
.body{
    position: relative;
    top: 80px;
    text-align: center;
}

/*Text fomatting */

p {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

ol {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

h3 {
    padding-top: 10px;
    text-align: center;
    font-style: bold;
}

blockquote {
    text-align: center;
    font-style: italic;
    font-style: underline;
    font-weight: 800;
}

/* Image formatting */
img {
    position: relative;
    display: inline-block;
    height: 450px;
    width: 675px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.images {
    max-width: 1450px;
    margin: 0 auto;
}

#me {
    float: left;
    font-family: 'Voltaire', sans-serif;
}

.opaque {
    opacity: .4;
    transition: 1s;
}

.normal {
    opacity: 1;
    transition: 1s;
}

.phototext {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .7s;
    font-family: 'Voltaire', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.one, .two, .three, .four, .five, .six{
    display: inline;
    position: relative;
    height: 450px;
    width: 675px;
}


.one:hover .phototext {
  visibility: visible;
  opacity: 1;
}
